---
title: Organization
layout: page
slide_id: 1
---

<div class="row">
    <h3 class="text-info text-center">Gestão e Operacionalização da CRAD/SE</h3>
    <br>
    <div class="card">
        <div class="card-header text-white bg-dark"><strong>A Comissão Deliberativa</strong></div>
            <div class="card-block bg-light committee">
                <p>
                <strong>Art. 14</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">A CRAD/SE contará com uma Comissão Deliberativa que terá voz e voto nas
                assembleias e reuniões. Esta Comissão Deliberativa será composta pelos membros da CRAD/SE que são representantes de instituições e/ou 
                empresas. </p>
            </div>
            <div class="card-block bg-light committee">
                <p>
                <strong>Art. 16</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">Cada instituição ou empresa, por meio de correspondência, indicará
                representantes para integrar a Comissão Deliberativa da CRAD/SE. Porém, só um dos representantes terá direito a voto nas assembleias e 
                nas reuniões. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-white bg-dark"><strong>A Comissão Executiva e Coordenador</strong></div>
            <div class="card-block bg-light committee">
                <p>
                <strong>Art. 18</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">A CRAD/SE também contará com uma Comissão Executiva, composta por cinco (5) 
                membros eleitos para tal entre os integrantes da Comissão Deliberativa.  Cada membro da Comissão Executiva terá um suplente. 
                Preferencialmente, o  suplente deverá ser da mesma instituição de origem do titular.</p>
            </div>
            <div class="card-block bg-light committee">
                <p>
                <strong>Art. 19</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">Um dos membros eleitos será o coordenador da Comissão Executiva. O nome do 
                coordenador deverá ficar estabelecido no momento da eleição da nova Comissão Executiva. A distribuição de encargos no âmbito da Comissão 
                será de  responsabilidade do coordenador.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h3 class="text-info text-center">Administração</h3>
        {% for committee in site.data.organization %}
        {% if committee.title and committee.column == 1 %}
        <div class="card">
            <div class="card-header text-white bg-dark"><strong>{{committee.title}}</strong></div>
            {% if committee.members %}
            {% for member in committee.members %}
            <div class="card-block bg-light committee">
                <p>
                    <a href="{{ member.homepage }}"><strong>{{ member.name }}</strong></a>
                </p>
                {% if member.post %}
                <p class="card-subtitle text-muted" style="font-size: 90%;">{{ member.post }}</p>
                {% endif %}
                <p class="card-subtitle text-muted" style="font-size: 90%;">{{ member.org }}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-block bg-light committee">
                <p class="card-title">TBA</p>
                <p><strong>TBA</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h3 class="text-info text-center">Comissão Deliberativa</h3>
        {% for committee in site.data.organization %}
        {% if committee.title and committee.column == 2 %}
        <div class="card">
            <div class="card-header text-white bg-dark"><strong>{{committee.title}}</strong></div>
            {% if committee.members %}
            {% for member in committee.members %}
            <div class="card-block bg-light committee">
                <p>
                    <a href="{{ member.homepage }}"><strong>{{ member.name }}</strong></a>
                </p>
                {% if member.post %}
                <p class="card-subtitle text-muted" style="font-size: 90%;">{{ member.post }}</p>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="card-block bg-light committee">
                <p class="card-title">TBA</p>
                <p><strong>TBA</strong>
                </p>
                <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
