---
layout: page
---

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2 text-justify conference-text">

        <h5>Bem-vindo à página da {{site.data.conference.short_title}}!</h5>

        <p class="lead">
            A {{site.data.conference.full_name}} ({{site.data.conference.short_name}}) foi criada 
            em 2025, com a expansão da Comissão Regional de Alto Desempenho do Rio de Janeiro (CRAD/RJ),
            para incorporar os estados de Minas Gerais e Espírito Santo.
        </p>
        {% if site.data.conference.description %}
            <p> {{site.data.conference.description}} </p>
        {% endif %}
        
        <!-- original 
        <p>
            {{site.data.conference.description}}
        </p>

        {{content}}
        -->
        {% if site.data.conference.social_media.insta_link %}
        <p>
            <img src="./assets/images/instagram1.png" width="50" alt="Instagram">    
            Siga-nos também no <a href="{{site.data.conference.social_media.insta_link}}"><strong>Instagram</strong></a>
        </p>
        {% endif %}
        <br>
        {% include contact-us.html %}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <!-- news -->
        {% include card-news.html %}
        <!-- ---- -->
        <!-- important dates -->
        {% include card-important-dates.html %}
        <!-- ---------------- -->
        <!-- moved here from column 1 -->
        <div class="card">
          <div class="card-block bg-dark text-white committee">
            <div class="d-flex">
                <img class="speaker-photo" src="{{site.data.conference.sbc_path}}" alt="SBC"> 
                <div class="align-self-center text-justify">
                    {% if site.data.conference.sbc_description %}
                        <p>{{site.data.conference.sbc_description}}</p>    
                    {% endif %}
                    {{content}}
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- {% include sponsors.html %} -->
{% include organizers.html %}
